<app-navbar></app-navbar>

<div class="container">
    <div class="imagen">
        <img src="../assets/imagenes/LOGO 1.png" alt="">
    </div>
    <div class="formulario">
        <form action="">
            <h1>Registrate</h1>
            <div class="entradas">
                <img src="../assets/imagenes/telephone 1.png" alt="">
                <input type="text" placeholder="Usuario">
            </div>
            <div class="entradas">
                <img src="../assets/imagenes/profile 1.png" alt="">
                <input type="number" placeholder="Número de celular">
            </div>
            <div class="entradas">
                <img src="../assets/imagenes/padlock 1.png" alt="">
                <input type="password" placeholder="Contraseña">
            </div>
            <button>Registrate</button>
            <p>Al registrarte aceptas nuestras condiciones de uso y politica de privacidad.</p>
            <small>¿Ya tienes una cuenta?</small>
            <a href="/login">Iniciar Sesión</a>
        </form>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>
