<div style="background-color: black;">
    <section class="imagen">
        <hr>
        <img src="../assets/imagenes/LOGO 1.png" alt="">
        <hr>
    </section>
    <section class="contacto">
        <section class="item-contacto">
            <h1 class="titulo-item-contacto">VISITANOS</h1>
            <div class="info-item-contacto">
                <small>CALLE 138 # 23- 45</small>
                <small>Sector Canelon</small>
                <small>Cajica, Cundinamarca</small>
            </div>
        </section>    
        <section class="item-contacto">
            <h1 class="titulo-item-contacto">LLAMANOS</h1>
            <div class="info-item-contacto">
                <small>318 3948478</small>
            </div>
        </section>
        <section class="item-contacto" >
            <h1 class="titulo-item-contacto">SIGUENOS</h1>
            <div class="info-item-contacto" >
                <div>
                    <small>Facebook + </small>
                </div>
                <div>
                    <small>Instagram + </small>
                </div>
                <div>
                    <small>Twitter + </small>
                </div>
            </div>
        </section>
    </section>    
</div>
<div class="copyright">
    <p>2024 Artesanias de Nuestra Tierra - todos los derechos reservados</p>
</div>
