
<div>
    <img src="../assets/imagenes/Rectangle 17.png" alt="">
    <section>
        <article>
            <h2>Nuestros Artesanos</h2>
            <p>
                Los artesanos de Boyacá y Cundinamarca son guardianes de la tradición y cultura colombiana. 
            </p>
            <p class="parrafo2">   
                En Boyacá, lugares como Ráquira, Nobsa y Duitama destacan por su cerámica, tejidos en lana y joyería en filigrana, con artesanos como Efraín Contreras, Hernando Cruz y Arturo Castillo manteniendo vivas estas tradiciones. 
            </p> 
            <p class="parrafo2">   
                En Cundinamarca, municipios como Guatavita, Sesquilé y Tabio son conocidos por su cerámica, tejidos en lana de oveja y zapatos de cuero, con artesanos como Carlos Eduardo Díaz, Marta Ruiz y Pedro Vargas sobresaliendo por su dedicación y talento. Estos artesanos reflejan la riqueza cultural de Colombia, preservando técnicas ancestrales y adaptándolas a los tiempos modernos.
            </p>
            <button>Ver más..</button>
        </article>
        
    </section>
</div>
