
<div>
    <img src="../assets/imagenes/Rectangle 11.png" alt="">
    <section>
        <article>
            <h2>Tradición y Creatividad</h2>
            <p>
                Las regiones de Boyacá y Cundinamarca son hogar de talentosos artesanos que mantienen vivas las tradiciones culturales de Colombia a través de sus creaciones únicas y detalladas.
            </p>

            <p class="parrafo2">
                Estas artesanías no solo son productos funcionales y estéticos, sino también representaciones de la rica herencia cultural de Boyacá y Cundinamarca. Los artesanos locales combinan técnicas ancestrales con innovaciones modernas, ofreciendo piezas únicas que reflejan la diversidad y creatividad de estas regiones..
            </p>
            <p class="parrafo3"> preservar y revitalizar técnicas ancestrales, estos artesanos no solo mantienen viva la historia de sus regiones, sino que también contribuyen al desarrollo cultural y económico de sus comunidades. Las artesanías de Boyacá y Cundinamarca no solo embellecen nuestros espacios y enriquecen nuestra cultura, sino que también reflejan el espíritu y la identidad de Colombia.
            </p>
        </article>
    </section>
</div>



