<div class="container">
    <section>
        <img src="../assets/imagenes/Ellipse 11.png" alt="">
        <h1>FILIGRANA</h1>
    </section>
    <section>
        <img src="../assets/imagenes/Ellipse 12.png" alt="">
        <h1>ORFEBRERIA
            RELIGIOSA</h1>
    </section>
    <section>
        <img src="../assets/imagenes/Ellipse 13.png" alt="">
        <h1>INSTRUMENTOS
            MUSICALES</h1>
    </section>
    <section>
        <img src="../assets/imagenes/Ellipse 14.png" alt="">
        <h1>FIGURAS EN 
            BARRO</h1>
    </section>
</div>

