
.banner{
    margin-top: -5px;
    position: relative;
}
img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    top: 100px;
    gap: 0px;
    opacity: 0px;
}

.titulo, .subtitulo{
    width: 90%;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}

.titulo{
    top: 40%;
    font-size: 1.5em;
}

.subtitulo{
    top: 55%;
    font-size: 0.6em;
}

@media only screen and (min-width: 500px){
    img{
        width: 100%;
        height: 250px;
    }
}

@media only screen and (min-width: 700px){
    img{
        width: 100%;
        height: 300px;
    }
    .titulo{
        font-size: 3em;
    }
    
    .subtitulo{
        top: 50%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 1000px){
    img{
        width: 100%;
        height: 350px;
    }
}