<app-navbar></app-navbar>

<div class="container">
    <div class="imagen">
        <img src="../assets/imagenes/LOGO 1.png" alt="">
    </div>
    <div class="formulario">
        <form action="">
            <h1>Iniciar Sesión</h1>
            <div class="entradas">
                <img src="../assets/imagenes/profile 1.png" alt="">
                <input type="number" placeholder="Número de celular">
            </div>
            <div class="entradas">
                <img src="../assets/imagenes/padlock 1.png" alt="">
                <input type="password" placeholder="Contraseña">
            </div>
            <button>Iniciar Sesión</button>
            <p>Al ingresar aceptas nuestras condiciones de uso y politica de privacidad.</p>
            <small>¿No tienes una cuenta?</small>
            <a href="/register">Registrate</a>
        </form>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>



