<div class="container">
    <section>
        <img src="../assets/imagenes/Ellipse 15.png" alt="">
        <h1>Efrain Contreras</h1>
    </section>
    <section>
        <img src="../assets/imagenes/Ellipse 16.png" alt="">
        <h1>Hernando 
            Cruz</h1>
    </section>
    <section>
        <img src="../assets/imagenes/Ellipse 17.png" alt="">
        <h1>Carlos 
            Diaz </h1>
    </section>
    <section>
        <img src="../assets/imagenes/Ellipse 18.png" alt="">
        <h1>Martha 
            Ruiz</h1>
    </section>
</div>