

div{
    width: 100% !important;
    margin: 2rem 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    section{
        width: 19%;
        margin: 0px 0.5rem;
        position: relative;
        display: inline-block;
        text-align: center;
        img{
            width: 6rem;
            object-fit: cover;
            filter: brightness(50%);
            cursor: pointer;
        }
        h1{
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
            font-size: 0.5rem;
            color: white;
        }
        
    }
}

@media only screen and (min-width: 400px) {
    div{
        section{
            img{
                width: 7rem;
            }
            h1{
                font-size: 0.65rem;
            }            
        }
    }
}

@media only screen and (min-width: 450px) {
    div{
        section{
            margin: 0px 0.7rem;
            img{
                width: 8.5rem;
            }
            h1{
                font-size: 0.7rem;
            }            
        }
    }
}

@media only screen and (min-width: 550px) {
    div{
        section{
            margin: 0px 1rem;
            img{
                width: 9rem;
            }     
        }
    }
}

@media only screen and (min-width: 650px) {
    div{
        section{
            margin: 0px 1.2rem;
            img{
                width: 9.3rem;
            }  
            h1{
                left: 50%;
                font-size: 0.8rem;
            }   
        }
    }
}

@media only screen and (min-width: 800px) {
    div{
        section{
            margin: 0px 1.4rem;
            img{
                width: 9.6rem;
            }  
            h1{
                font-size: 0.9rem;
            }   
        }
    }
}
@media only screen and (min-width: 900px) {
    div{
        section{
            margin: 0px 1.5rem;
            img{
                width: 10rem;
            }  
            h1{
                font-size: 0.9rem;
            }   
        }
    }
}

@media only screen and (min-width: 1200px) {
    div{
        margin: 0px 3rem;
        section{
            margin: 0px 2rem;
            img{
                width: 15rem;
            }  
            h1{
                font-size: 1rem;
            }   
        }
    }
}